.home-wrap .controls-container {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
  width: 200px;
  padding: 1em;
  height:100%;
  overflow:scroll;
  background-color:#fff;
}

.home-wrap .control {
  margin: 0 0 1em;
}

.home-wrap .control .dimension-picker {
  font-size:12px;
}

.home-wrap .control .dimension-picker .checkbox {
  margin:0.5em 0;
}

.home-wrap .control a {
  font-size: 14px;
  text-decoration: none;
  color: #3399ff;
}

.react-autosuggest__input {
  width: 100%;
  box-sizing: border-box;
  height: 37px;
}

.home-wrap .viz-canvas {
}

.footer {
  position: absolute;
  bottom: 0.25em;
  width: 100%;
  text-align: center;
  z-index: 10000;
  color: #000000;
  font-weight: 200;
  font-family: "Roboto", sans-serif;
  font-size: 10pt;
}

.footer a {
  color: #000000;
  text-decoration: underline;
  font-size: 10pt;
}
