.home-wrap .controls-container {
  position:fixed;
  top:0;
  left:0;
  opacity:0.8;
  width:200px;
  padding:1em;
}

.home-wrap .control {
  margin:0 0 1em;
}

.react-autosuggest__input {
  width:100%;
  box-sizing:border-box;
  height: 37px;
}