@import "css/Home.scss";
@import "css/autosuggest.scss";
@import "css/Dropdown.scss";
@import "css/Legends.scss";
@import "css/Maps.scss";
@import "css/SelectionKpis.scss";

body {
  height:100%;
  width:100%;
  overflow:hidden;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
